{% macro render_recorder(recorder) %}
<div class="card">
	<div class="card-header"><input class="btn btn-primary" type="button" id="{{ recorder.name }}-button" onclick="record_audio('{{ recorder.name }}')" value="{{ 'Re-record' if recorder.data == 'completed' else 'Record' }}"></input></div>
	<div class="card-body">
	<p class="card-text">{{recorder.render_kw["data-prompt"]}}</p>
	</div>
</div>
{% endmacro %}

{% macro render_word_list(word_list) %}
<div class="card text-center">
	<div class="card-body">
	<h1 class="card-title"><span id="{{ word_list.name }}-words" >{{ 'Done!' if word_list.data is not none  and word_list.data != "" else '' }}</span></h1>
	<input class="btn btn-primary" type="button" id="{{ word_list.name }}-button" onclick="create_word_list('{{ word_list.name }}')" value="{{ 'Re-record' if word_list.data is not none and word_list.data != "" else 'Begin' }}"></input>
	</div>
</div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="row">
  <div class="form-group col">
  <div class="row">
  {{ field.label }}
  </div>
  {% if field.errors %}
    <div class="row">
    <ul class="list-group">
    {% for error in field.errors %}
      <li class="list-group-item list-group-item-danger">{{ error }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
  {% if field.render_kw['data-type'] == 'likert' %}
  <div class="row">
    <div class="col-md-8">
    <table class="table" style="table-layout: fixed;">
    <thead> 
      <tr>
      {% for i in range(field.choices|length) %}
        {% if i == 0 %}
	<th class="text-left"> {{ field.render_kw['data-min'] }} </th>
	{% elif i == (field.choices|length) -1 %}
	<th class="text-right"> {{ field.render_kw['data-max'] }} </th>
	{% else %}
	<th> </th>
	{% endif %}
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for subfield in field %}
        <td class="text-center">{{ subfield }}</td>
      {% endfor %}
      </tr>
      <tr>
      {% for subfield in field %}
        <td class="text-center">{{ subfield.label }}</td>
      {% endfor %}
      </tr>
    </tbody>
    </table>
   </div>
   </div>
  {% else %}
    <div class="row">
    {{ field(**kwargs)|safe }}
    </div>
    <div class="row">
    {% if field.type  == "HiddenField" %}
      {% if field.render_kw['data-type'] == 'wordlist' %}
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
        {{ render_word_list(field) }}
        </div>
        <div class="col-md-2">
        </div>
      {% elif field.render_kw['data-type'] == 'reading' %}
	<div class="col-md-8">
        {{ render_recorder(field) }}
        </div>
      {% endif %}
    {% endif %}
    </div>
  {% endif %}
  </div>
  </div>
{% endmacro %}
