{% extends 'base.html' %}

{% block header %}
  <div class="col-md-8">
    <h1>{% block title %}Linguistic Surveys{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="col-md-2">
</div>
<div class="col-md-8">
	<div class="row">
	<p>
	This website contains various linguistic surveys that can be completed in order to help scientific understanding of how people speak English differently across North America.
	</p>
	<p>
	Note that in order to complete the surveys, you will have to record some audio files from your computer. <strong> Once you start the survey, your browser will ask permission for microphone access. Please ensure that you click yes </strong> so that your audio will record properly.
	</p>
	<div class="row mx-auto">
	  <div class="card" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
	      {% for survey, survey_link_name in surveys %}
	  	<li class="list-group-item">
	  	<a href="{{url_for('survey.survey', survey_name=survey, page=0)}}">{{ survey_link_name }}</a>
	  	</li>
	      {% endfor %}
	  </ul>
	  </div>
	</div>
</div>
<div class="col-md-2">
</div>
{% endblock %}
