{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa eu ante sollicitudin malesuada. Nulla
        gravida sollicitudin purus, at feugiat neque cursus a. Sed lacinia velit nunc, eget posuere lorem pharetra id.
        Curabitur sodales, ligula at laoreet consequat, enim augue porttitor ex, eget eleifend leo risus ac eros.
        Quisque a erat at est fringilla malesuada sed posuere orci. Proin sapien tortor, feugiat sed eleifend et,
        pharetra nec sem. Praesent lacus justo, vulputate sit amet ornare a, posuere porttitor orci. Praesent elementum
        dui nec tempus laoreet. Nulla in nunc porta, interdum justo et, pharetra ex. Nam quis neque sit amet sapien
        molestie rutrum. Nullam accumsan in dui eu luctus.
    </p>
    <p>
        Sed egestas massa et tortor mollis egestas. Praesent mollis malesuada magna, vel volutpat metus ullamcorper
        eget. Donec mattis quis enim id euismod. Quisque tristique lectus sapien, at consequat magna mattis non. Mauris
        sodales risus felis. Suspendisse gravida et augue vel auctor. Nunc placerat massa quis nulla viverra facilisis.
        Nam eu finibus lorem.
    </p>

    <ul id="survey-list">
        <li>
            <a href="{{url_for('survey.survey', survey_name="main_survey", page=0)}}">Survey</a>
        </li>
    </ul>
{% endblock %}
